@use './variables' as *;
@use './buttons' as *;
@use 'sass:color';


body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
  font-family: $secondary-font-family;
}
/* Estilos Base para el Botón */
button {
  display: inline-block;
  padding: 1.5rem 0.75em;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: $primary-bgcolor-button;
  color: $primary-txtcolor-button;
  &:hover {
    background-color: color.scale($primary-bgcolor-button, $lightness: -10%);
  }

  &:disabled {
    background-color: #b0b0b0;
    cursor: not-allowed;
  }
}
