@layer base {
 
    body {
      background-color: var(--color-background);
      color: var(--color-text);
      font-family: var(--font-open-sans);
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: var(--font-open-condensed); 
      text-transform: uppercase;
    }

    h1{
      font-size: var(--text-7xl);
    }
    h2{
      font-size: var(--text-6xl);
    }
    h3{
      font-size: var(--text-5xl);
    }
    h4{
      font-size: var(--text-4xl);
    }
    h5{
      font-size: var(--text-3xl);
    }
    h6{
      font-size: var(--text-2xl);
    }
}