/* Botón Secundario */
button.button--secondary {
    background-color: #95a5a6; /* Color secundario */
    color: #2c3e50; /* Color de texto */
  
    &:hover {
      background-color: darken(#95a5a6, 10%);
    }
  }
  
  /* Botón de Éxito */
  button.button--success {
    background-color: #2ecc71; /* Color de éxito */
    
    &:hover {
      background-color: darken(#2ecc71, 10%);
    }
  }
  
  /* Botón de Advertencia */
  button.button--warning {
    background-color: #f39c12; /* Color de advertencia */
    
    &:hover {
      background-color: darken(#f39c12, 10%);
    }
  }
  
  /* Botón de Peligro */
  button.button--danger {
    background-color: #e74c3c; /* Color de peligro */
    
    &:hover {
      background-color: darken(#e74c3c, 10%);
    }
  }
  