/* src/styles/base.scss */

/* Primero, incluir la fuente Manrope desde Google Fonts (CDN) */
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

/* Definir la fuente local con @font-face */
@font-face {
    font-family: 'Manrope';
    src: url('/assets/Manrope/Manrope-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('/assets/Manrope/Manrope-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('/assets/Manrope/Manrope-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

$primary-color: #3498db;

$font-family: 'Manrope', 'Roboto', 'Arial', sans-serif;
$secondary-font-family: 'Roboto', 'Arial', sans-serif;

$primary-bgcolor-button: #40C4FF;
$primary-txtcolor-button: #40C4FF;