.horizontal-list{
    display: flex;
    gap: get-size('400');
    font-size: get-size('400');
    font-family: "Open Sans", serif;
    align-items: center;
    flex-wrap: wrap;
    
    li{
        display: flex;
        align-items: center;
    }
}