.wrapper {
    max-width: 30rem; /* 1440px si 1rem = 16px */
    margin-left: auto;
    margin-right: auto;
    padding: 0 get-size('500');
  
	@media (min-width: 40rem) {
    max-width: 40rem;
  }
  
  @media (min-width: 48rem) {  
    max-width: 48rem;
  }
	@media (min-width: 64rem) {  
    max-width: 64rem;
  }
	@media (min-width: 80rem) { 
    max-width: 80rem;
   }
	@media (min-width: 96rem) {
    max-width: 96rem;
  }
}