@use '../abstracts' as ab;
.glide__controls{
    @include ab.flex-center-vertical;
    @include ab.media-query('md'){
        justify-content: space-between;
    }
  }

  .glide__bullet {
    @include ab.box(8px);
    border-radius: 50px;
    background-color: ab.get-color('grey');
    border: none;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .glide__bullet--active {
    background-color: ab.get-color('accent-blue');
  }
  
  .glide__arrows{
    display: none;
    gap: 0.5rem;
    @include ab.media-query('md'){
        display: flex;
    }
  }
  .glide__arrow {
    background-color: transparent;
    border: 2px solid ab.get-color('accent-blue');
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease, color 0.3s ease;
    @include ab.flex-center-vertical;
    color: var(--color-text);
  }
  
  .glide__arrow:hover {
    background-color: ab.get-color('accent-blue');
  }