@use '../abstracts' as ab;
.summary {
    padding: ab.get-size('500') ab.get-size('500') ab.get-size('600') ab.get-size('500');
    line-height: 1.1;
  
    dl,
    dt {
      --flow-space: #{ab.get-size('700')};
    }
  
    dd {
      --flow-space: #{ab.get-size('300')};
    }
  }
  
  