
// 1. Base común para todas las cards
@mixin card-base() {
    margin-top: 1rem;
    background-color: var(--color-background-card);
    //1d3e9988
    backdrop-filter: blur(4px); /* backdrop-blur-sm */
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2), 
                0px 4px 6px -2px rgba(0, 0, 0, 0.1); /* shadow-xl */
    color: var(--color-text);
    padding: 0.5rem;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    z-index: 10;
    overflow: hidden;
}
  
  // 2. Estilo base para cards
.card {
    @include card-base();
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 4px solid var(--color-primary);
    align-items: stretch;


    &.top-border{
      border-top: 4px solid var(--color-primary);
      border-bottom: none;
    
    }
    img {
        border-radius: 8px;
        width: 100%;
        object-fit: cover;
        flex-grow: 1;
        min-height: 0;
    }
    
    .content {
        padding: 1rem;
        width: 100%;
        flex-shrink: 0;
    }
    .special-title{
      padding: 1rem;
      background-color: var(--color-primary);
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      margin-bottom: 0.5rem;
    }

    @include media-query('lg'){
      max-height: 400px;
      img {
        border-radius: 8px;
        width: 100%;
        object-fit: cover;
      }
      
      .content {
          padding: 1rem;
          width: 100%;
          flex-shrink: 0; 
      }
    }

    &.large {
      @include media-query('lg') {
        flex-direction: row;
        max-height: 250px;
        > * {
          flex: 1 1 50%; // Por defecto, cada hijo ocupa el 50%
        }
        img{
          flex-grow: 1;
          min-width: 0;
        }
        &.content {
          padding: 2rem;
          flex-shrink: 0; 
        }
        &.with-mini-group {
          > .content {
            flex: 1 1 80%; // El contenido ocupa el 80%
          }
    
          > .mini-group {
            flex: 1 1 20%; // El mini-group ocupa el 20%
          }
        }

      }
    }
  
    &.mini {
      max-width: 200px;
      max-height: 200px;
      justify-content: center;
      gap: 0.6rem;
      text-align: center;
      font-size: get-size('300');
      align-items: center;
  
      svg {
        color: var(--color-link);
        width: 40px;
        height: 40px;
      }
    }
    @include media-query('lg') {
      justify-content: space-between;
    }
}
  
  // 3. Mini-groups (layout de grupos)
.mini-group {
    display: grid;
    gap: get-size('300'); 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin-bottom: 1rem;
}

.card-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    H6{
        width: 100%;
        margin: 0.5rem;
    }
    img {
        border-radius: 8px;
        width: 100%;
        height: 300px;
        max-width: 300px;
        object-fit: cover;
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    }
}

.timeline-card{
  display: flex;
  gap: 0.5rem;
  padding: 1rem 0;
  img {
      width: 30px;
      height: 30px;
      flex-shrink: 0;
  }
  svg{
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    color: get-color('accent-blue');
  }
  .content {
      border-left: 2px solid white;
      padding: 1rem 0;
      padding-left: 2rem;
  }
  .title {
    margin: 0 0 1rem 0;
  }

  p {
      line-height: 1.6;
      margin: 0;
      max-width: 900px;
  }
}