@use "../abstracts" as ab;
@use "sass:map";

$themes: (
  "lightblue": (
    "background-header": ab.get-color("dark-blue"),
    "text-header": ab.get-color("almost-white"),
    "background": ab.get-color("almost-white"),
    "primary": ab.get-color("accent-blue"),
    "secondary": ab.get-color("light-dark-blue"),
    "text": ab.get-color("almost-black"),
    "background-card": ab.get-color("transparent-white"),
    "link": ab.get-color("dark-accent-blue"),
    "highlight": ab.get-color("dark-accent-blue"),
    "red": ab.get-color("red"),
    "yellow": ab.get-color("yellow"),
    "green": ab.get-color("green"),
    "grey": ab.get-color("grey"),
    "light-blue": ab.get-color("light-blue"),
    "background-footer": ab.get-color("black"),
    "text-footer": ab.get-color("white"),
    "background-input": ab.get-color("white"),
    "text-input": ab.get-color("almost-black"),
    "border": ab.get-color("grey"),
    "button-primary": ab.get-color("accent-blue"),
    "button-secondary": ab.get-color("light-dark-blue"),
    "button-text": ab.get-color("black"),
    "background-table-header": ab.get-color("accent-blue"),
    "background-table-body": ab.get-color("light-blue"),
    "success": ab.get-color("green"),
    "warning": ab.get-color("yellow"),
    "error": ab.get-color("red"),
    "info": ab.get-color("dark-accent-blue"),
    "disabled": ab.get-color("blue-grey"),
    "text-muted": ab.get-color("dark-grey")
  ),
  "darkblue": (
    "background-header": ab.get-color("dark-blue"),
    "text-header": ab.get-color("almost-white"),
    "background": ab.get-color("light-dark-blue"),
    "primary": ab.get-color("accent-blue"),
    "secondary": ab.get-color("dark-blue"),
    "text": ab.get-color("almost-white"),
    "background-card": ab.get-color("transparent-teal"),
    "link": ab.get-color("accent-blue"),
    "highlight": ab.get-color("accent-blue"),
    "red": ab.get-color("bright-red"),
    "yellow": ab.get-color("bright-yellow"),
    "green": ab.get-color("bright-green"),
    "grey": ab.get-color("grey"),
    "light-blue": ab.get-color("light-blue"),
    "background-footer": ab.get-color("black"),
    "text-footer": ab.get-color("white"),
    "background-input": ab.get-color("almost-white"),
    "text-input": ab.get-color("almost-black"),
    "border": ab.get-color("grey"),
    "button-primary": ab.get-color("accent-blue"),
    "button-secondary": ab.get-color("dark-blue"),
    "button-text": ab.get-color("black"),
    "background-table-header": ab.get-color("dark-blue"),
    "background-table-body": ab.get-color("transparent-teal"),
    "success": ab.get-color("bright-green"),
    "warning": ab.get-color("bright-yellow"),
    "error": ab.get-color("bright-red"),
    "info": ab.get-color("accent-blue"),
    "disabled": ab.get-color("blue-grey"),
    "text-muted": ab.get-color("dark-grey")
  ),
  "lightred": (
    "background-header": ab.get-color("dark-red"),
    "text-header": ab.get-color("almost-white"),
    "background": ab.get-color("almost-white"),
    "primary": ab.get-color("red"),
    "secondary": ab.get-color("dark-blue"),
    "text": ab.get-color("almost-black"),
    "background-card": ab.get-color("transparent-white"),
    "link": ab.get-color("dark-red"),
    "highlight": ab.get-color("red"),
    "red": ab.get-color("red"),
    "yellow": ab.get-color("yellow"),
    "green": ab.get-color("green"),
    "grey": ab.get-color("grey"),
    "light-blue": ab.get-color("light-blue"),
    "background-footer": ab.get-color("dark-red"),
    "text-footer": ab.get-color("white"),
    "background-input": ab.get-color("white"),
    "text-input": ab.get-color("almost-black"),
    "border": ab.get-color("grey"),
    "button-primary": ab.get-color("red"),
    "button-secondary": ab.get-color("dark-blue"),
    "button-text": ab.get-color("white"),
    "background-table-header": ab.get-color("dark-red"),
    "background-table-body": ab.get-color("transparent-light-red"),
    "success": ab.get-color("green"),
    "warning": ab.get-color("yellow"),
    "error": ab.get-color("red"),
    "info": ab.get-color("dark-blue"),
    "disabled": ab.get-color("light-grey"),
    "text-muted": ab.get-color("dark-grey")
  ),
  "darkred": (
    "background-header": ab.get-color("very-dark-blue"),
    "text-header": ab.get-color("almost-white"),
    "background": ab.get-color("dark-blue-grey"),
    "primary": ab.get-color("bright-red"),
    "secondary": ab.get-color("dark-blue"),
    "text": ab.get-color("almost-white"),
    "background-card": ab.get-color("transparent-dark-blue"),
    "link": ab.get-color("light-red"),
    "highlight": ab.get-color("bright-red"),
    "red": ab.get-color("bright-red"),
    "yellow": ab.get-color("bright-yellow"),
    "green": ab.get-color("bright-green"),
    "grey": ab.get-color("medium-grey"),
    "light-blue": ab.get-color("accent-blue"),
    "background-footer": ab.get-color("very-dark-blue"),
    "text-footer": ab.get-color("almost-white"),
    "background-input": ab.get-color("dark-blue"),
    "text-input": ab.get-color("almost-white"),
    "border": ab.get-color("medium-grey"),
    "button-primary": ab.get-color("bright-red"),
    "button-secondary": ab.get-color("dark-blue"),
    "button-text": ab.get-color("almost-white"),
    "background-table-header": ab.get-color("very-dark-blue"),
    "background-table-body": ab.get-color("transparent-dark-blue"),
    "success": ab.get-color("bright-green"),
    "warning": ab.get-color("bright-yellow"),
    "error": ab.get-color("bright-red"),
    "info": ab.get-color("accent-blue"),
    "disabled": ab.get-color("dark-grey"),
    "text-muted": ab.get-color("medium-grey")
  ),
);

@mixin apply-theme($theme-name) {
  @each $key, $value in map.get($themes, $theme-name) {
    --color-#{$key}: #{$value};
  }
}

body{
  @include apply-theme("lightblue");
}

.lightblue {
  @include apply-theme("lightblue");
}

.darkblue {
  @include apply-theme("darkblue");
  background-color: var(--color-background);
  color: var(--color-text);
}

.lightred {
  @include apply-theme("lightred");
}

.darkred {
  @include apply-theme("darkred");
  background-color: var(--color-background);
  color: var(--color-text);
}