@font-face {
    font-family: 'OpenSansCondensed';
    src: url('/fonts/OpenSans-CondBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
    font-style: normal;
}